.rodape-container {
    position: absolute;
    width: 100%;
    height: 125px;
    left: 0px;
    top: 2473px;
    display: flex;
    align-items: center;


    background: var(--cor-texto2);
}
.rodape-logo {
    position: absolute;
    width: 288px;
    height: 71px;
    left: 30px;
    top: 30px;
}

.rodape-icones {
    display: flex;
    width: 200px;
    text-align: center;
    margin-left: 465px;
}

.rodape-icone {
    display: block;

    width: 42px;
    height: 42px;


    margin: 0px 35px;
    justify-content: space-between;
}

.rodape-autoral {
    margin-left: 315px;

    color: #ffffff;
}

@media (max-width: 1024px) {
    .rodape-container {
        width: 100%;
        height: 50px;
        left: 0;
        top: 2726px;
    }

    .rodape-logo {
        display: none;
    }

    .rodape-icones {
        position: absolute;
        width: 276px;
        height: 36px;
        left: 50px;
        margin-left: 2px;
        justify-content: space-between;
        
    }

    .rodape-icone {
        width: 31px;
        height: 31px;
        margin: 1px 7px;
    }

    .rodape-autoral {
        display: none;
    }
}
